/*
Colors used:
Primary Colours (Eerie Black): #191919 rgb(25,25,25); #212121 rgb(33,33,33);
Secondary Colours, Typography (Silver Chalice): #A8A8A8 rgb(168,168,168); (White): #FFFFFF rgb(255,255,255);
Accent Colour, (Turquoise Blue): #5CFFF4 rgb(92,255,244);
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  font-family: 'noto', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 400;
  /* Sets the font weight to 400 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #A8A8A8;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.35em;
  font-weight: 700;
  color: #FFFFFF;
}

h2 {
  font-size: 1.95em;
  font-weight: 700;
  color: #FFFFFF;
}

h3 {
  font-size: 1.56em;
  font-weight: 400;
  color: #FFFFFF;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
  color: #FFFFFF;
}

img {
  width: 100%;
}

a {
  color: #5CFFF4;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #5CFFF4;
}

a:hover,
a:focus {
  color: #A8A8A8;
  text-decoration: none;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #FFFFFF;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #5CFFF4;
  color: #212121;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px 40px;
  border-radius: 3px;
  border-bottom: 2px solid #FFFFFF;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited {
  /* visited button */
  color: #212121;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  /* selected button */
  background-color: #FFFFFF;
}

.button.secondary {
  background-color: transparent;
  color: #5CFFF4;
  text-transform: uppercase;
  border: 2px solid #5CFFF4;
}

.button.secondary:visited {
  background-color: transparent;
  color: #5CFFF4;
  text-transform: uppercase;
  border: 2px solid #5CFFF4;
}

.button.secondary:hover {
  background-color: #5CFFF4;
  color: #212121;
  opacity: 1.0;
}

.button.secondary:active {
  /* selected button */
  background-color: #FFFFFF;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #A8A8A8;
}

h2 {
  text-align: center;
  /* Centers text */
}

#hero {
  text-align: center;
  /* Centers text */
}

.logo {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.95em;
  font-weight: 400;
  color: #FFFFFF;
}

.logo:visited {
  /* visited link */
  color: #FFFFFF;
}

.logo:hover,
.logo:focus {
  opacity: 70% text-decoration: none;
  /* Underlining when hovering over a link */
}

.logo:active {
  /* selected link */
  color: #FFFFFF;
}

header {
  background-color: #191919;
  text-align: center;
  padding: 10px 0;
  box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%
}

nav {
  margin-top: 0.5em;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  display: block;
  padding: 10px 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #5CFFF4;
  text-decoration: none;
  font-size: 95%
}

nav>ul>li>a:visited {
  /* visited link */
  color: #5CFFF4;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  color: #FFFFFF;
  text-decoration: none;
}

nav>ul>li>a:active {
  /* selected link */
  color: #FFFFFF;
}

.active {
  color: #FFFFFF
}

#hero {
  background-color: #191919;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  font-size: 0.70em;
  display: block;
  font-weight: 400;
  margin-top: 1em
}

main {
  padding-top: 103px;
}

footer {
  background-color: #191919;
  padding: 20px 0;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.social svg {
  width: 48px;
}

.social>ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: inline-block;
  width: 100%
}

.social>ul>li {
  display: inline-block;
}

.social>ul>li>a {
  padding: 0 15px;
}

picture.profile-img {
  display: block;
  text-align: center;
}

.profile-img img {
  max-width: 200px;
}

iframe {
  width: 100%;
  max-height: 100%;
  height: auto;
  min-height: 625px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 82px;
  }

  body {
    font-size: 18px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0px 10px 0px 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h3 {
    margin-top: 0;
  }

  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    margin-top: 0;
  }

  nav>ul {
    margin: 0;
  }

  .text-block {
    max-width: 700px;
    margin: 4em auto;
  }

  #hero .container {
    max-width: 700px;
    margin: 4em auto;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

nav ul a {
  position: relative;
}

.topBotomBordersIn a:before, .topBotomBordersIn a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

.topBotomBordersIn a:before {
  top: 0px;
  transform: translateY(-10px);
}

.topBotomBordersIn a:after {
  bottom: 0px;
  transform: translateY(10px);
}

.topBotomBordersIn a:hover:before, .topBotomBordersIn a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}
